*{
  /* background-color: #84ffff; */
}

h1, h2{
  text-align: center;
  text-shadow: 2px 2px #eceff1;
  color: #40c4ff;
  font-size: 100px;
  padding: 40px;

}
.wrapper{
  font-size: 100px;
  text-shadow: 2px 1px #eceff1;
  background-color: #40c4ff;
  color: white;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  text-align: center;
}

.item1 {
  background-color: #00e5ff;
  grid-column: 1 / 3;
  padding: 50px;

}
.item2{
  padding: 100px;
 }
.item6{
  grid-column: 1 / 3;
  background-color: #00e5ff;
  padding: 50px;
}
#connect{
  text-align: center;
  text-shadow: 2px 1px #eceff1;
}
.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.auth-image{
  max-height: 170px;
  max-width: 170px;
}
.networking{
  opacity: 1;
}
 .auth-image:hover, .networking:hover{
  opacity: .5;
}
